<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <center>
        <a href="{{  site.url }}">
          <img src="{{ site.url }}/public/white.png" class="img-responsive" />
        </a>
      </center>
      <p class="lead">
        <a href="{{  site.url }}">Ajit Marshall</a>
      </p>
      <p class="lead">
        I am a normal<a href="/about">soul</a> who loves to travel
        <a href="{{ site.github.repo }}" target="_blank">code</a>,
        <a href="{{ site.labnol.org.}}">read</a>, and
        <a href="{{ site.author.twitter }}">wonder</a> about how things work.
      </p>
      <p class="lead">
        Living the dream at <a href="https://www.Vajro.com">Vajro</a> where we build apps for ecommerce platform.
      </p>
    </div>
  </div>
</div>
